﻿@model IEnumerable<Media_Library.Models.Music>
@{
    ViewBag.Title = "Music";
}

<h2>Music</h2><br />
@Html.ActionLink("Create new", "Create")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Artist", "Music", new { sortOrder = ViewBag.ArtistSortParm })
            </th>
            <th>
                @Html.ActionLink("Title", "Music", new { sortOrder = ViewBag.TitleSortParm })
            </th>
            <th>
                @Html.ActionLink("Genre", "Music", new { sortOrder = ViewBag.GenreSortParm })
            </th>
            <th>
                @Html.ActionLink("Released", "Music", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Media)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Released)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Media)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
