﻿
@{
    ViewBag.Title = "Index";
}

<h2>Recently added items</h2>
@ViewBag.Message

<h3>Music</h3>
    <p>@Html.ActionLink("View all", "Music", "Home")</p>

<h3>Movies</h3>
    <p>@Html.ActionLink("View all", "Movies", "Home")</p>

<h3>Books</h3>
    <p>@Html.ActionLink("View all", "Books", "Home")</p>

